@inherits LayoutComponentBase

<PageTitle>NodeEleven</PageTitle>


<div class="header">
    <NavMenu />
</div>

<main>
    <article>
        <div class="content">
            @Body
        </div>
    </article>
    <footer>Node11 &#169;</footer>
</main>


