@inject NavigationManager MyNavigationManager

<nav>
    <div class="nav-drop">
            <NavLink href="/"><h1>Home</h1></NavLink>
            <NavLink href="/about"><h1>About</h1></NavLink>
    </div>
</nav>

@code {

}
