@inherits LayoutComponentBase

<PageTitle>GameManagement</PageTitle>


<div class="header">
    <NavMenu />
</div>

<main>
    <article>
        <div class="content">
            @Body
        </div>
    </article>
</main>
<footer>Node11 &#169;</footer>

