@page "/about"

@inject NavigationManager MyNavigationManager

<PageTitle>About</PageTitle>

<div id="about-content">
<h1 class="page-heading">About Us</h1>
<p class="page-text">We are an open source project.</p>
</div>

@code {

}
