@page "/"

<PageTitle>Home</PageTitle>

<img id="orange-dot" src="images/orange_circle.png" alt="orange circle" />

<div id="home-heading">
    <h1>Welcome to Node11</h1>
    <p>We're an open source game data platform.</p>
</div>

<img id="blue-dot" src="images/blue_circle.png" alt="blue circle" />