@page "/"

<PageTitle>Home</PageTitle>

<div id="home-heading">
    <h1>Welcome to Node11</h1>
    <p>We're an open source game data platform.</p>
</div>
<a href="/panel">
<div id="connect">
    <h1>Enter</h1>
</div>
</a>
<div id="node-video">
    <iframe src="https://player.vimeo.com/video/656020179?h=f69b4eb156&amp;badge=0&amp;autoplay=1&muted=1&loop=1&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="node.mp4"></iframe>
</div>
